# OS X
.DS_Store

# Node
node_modules
npm-debug.log*
package-lock.json

tsconfig.json
src
test

# VS CODE
.eslintrc.js
*.config.js
.git
.github
binary
.vscode
images
*.tgz
*.zip
*.tar.gz
*.jpg
@types
build/**/*.map
build/test
